<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="flightService"
    class="JavaSource.com.apress.expertspringmvc.flight.service.DummyFlightService" />
    
  <bean id="accountService"
    class="JavaSource.com.apress.expertspringmvc.flight.service.AccountServiceImpl" />

</beans>